<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<%= render @user %>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div class="container">
                <div class="row">
                    <h2>Friends</h2>
                </div>
                <%= render 'users/user_widgets', users: @user.friends %>
            </div> 
        </div>
        <div class="col-md-7", id='feed'>
             <% if !@posts.empty? %>
                <div class = 'posts-container'>
                    <div class = 'posts'>
                        <%= render @posts %>
                    </div>
                </div>
            <% else %>
                <h2>No posts yet. Why not create one?</h2>
            <% end %>
        </div>
    </div>
</div>





