$('#unfriend-button').empty().prepend("<p>Unfriended</p>").delay(1000).fadeOut(400);
$('#request-button-container').append(" <%= j render('friend_requests/friend_request_button', user_id: @user.id) %>");