<%= form_with url: polymorphic_path([current_user, Post.new]), scope: :post do |f| %>
<div class = 'd-flex flex-column'>
    <%= f.text_area :content, placeholder: 'What are you thinking about?', class: 'p2', size: '20x5'; %>
    <%= f.submit "Post", class: "btn btn-primary", id: 'blue-button' %>
</div>
    
<% end %>