<li>
    <div class = "post-container">
        <div class = 'post'>
            <%= post.content %>
        </div>
        <div class = 'likes'>
            <%= post.likes.count %>
        </div>
    </div>
</li>
